<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행시킬 query를 가지고 있는 파일 -->

<mapper namespace="com.mvc.mapper.MemberMapper">

	<select id="check" parameterType="Member" resultType="Member">
		select * from members where id = #{id} and password = #{password}
	</select>
	
	<insert id="insertMember" parameterType="Member">
        INSERT INTO members (id, name, password)
        VALUES (#{id}, #{name}, #{password})
    </insert>
</mapper>
